{% extends 'mentor_dashboard.html' %}

{% block title %}QR Code for {{ student.name }}{% endblock %}

{% block content %}
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="/student_detail">Student Details</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="/student_detail/{{ student.year }}">{{ student.year }}</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a href="">{{ student.name }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="qr-code-section">
        <h1>QR Code for {{ student.name }}</h1>
        <p>Scan the QR code to access the form:</p>
        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code for {{ student.name }}">
    </div>
{% endblock %}
